/* códigos css para la base */

* {
	box-sizing: border-box;
}

body {
background: #242933;
background-image: url(https://images2.imgbox.com/92/a4/eKknRDSJ_o.jpg);
background-size:cover;
background-position:center;
background-repeat:no-repeat;	

}



/* códigos css caja contenedora */

.titulo {
  margin: 0 auto;
  width: 320px;
padding: 15px;
  text-align: center;
  font-size: 20px;
font-family: 'Open Sans', sans-serif;
color: #eee;
font-weight: 700;
}
.contenedor {
margin: 0 auto;
width: 320px;
padding: 15px;
background: #eee;
opacity: 0.8;
font-family: calibri;
color: #000;
font-weight: 500;
border: 1px solid #3d4453;
position: relative;
}

.datotit {
color: #171717;
  font-family: calibri;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

/* botón enviar */

#button {
width: 100px;
background: #53B063;
font-size: 12px;
text-transform: uppercase;
opacity: 0.9;
display: block;
height: 35px;
line-height: 35px;
color: #eee;
font-weight: 500;
border-radius: 2px;
cursor: pointer;
top: 40px;
left: 180px; 
position: relative;
}

#button:hover {
  color: #171717;
  transition-duration:1s;
}


.cubrirdato {
margin: 0auto;
width:100%;
border: 1px solid #C1C1C1;
display: block;
font-family: inherit;
font-size: 14px;
padding: 6px;

}

span {
margin: auto;
color: #e74c3c;
font-size: 12px;
line-height: 16px;
font-family: calibri;
font-weight: 200;
display: block;
margin: 5px;
}



